@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 70%; // 10px/16px = 62.5% => 1rem = 10px
	scroll-behavior: smooth;

	@include media-query(phone) {
		font-size: 62.5%;
	}
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
	width: 100vw;
}

body {
	font-family: $font-main;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.6rem;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
}

a {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style: none;
}

q {
	quotes: "“" "”" "‘" "’";
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}

button,
button:active {
	cursor: pointer;
	outline: none;
	border: none;
}

.main {
	& > * {
		padding: 8rem 0;
	}
}

.row {
	padding-left: 1rem;
	padding-right: 1rem;

	@include media-query(tab-port) {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}
