/**** COLORS ****/
$color-main :#1b262c;
$color-primary: #0f4c75;
$color-secondary: #C77F2B;
$color-grey-dark: #54483A;
$color-grey-light: #B2B2B2;
$color-text: rgb(250, 245, 245);
$color-card: rgb(245, 240, 240);
$color-nav: rgba(0, 0, 0, .8);

/**** FONTS ****/
$font-secondary: 'Libre Baskerville', serif;
$font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

